.btn--change-count {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 30px;
  height: 30px;
}
.d-flex {
  width: 120px !important;
  justify-content: space-between;
}
